atom-text-editor, :host, atom-text-editor .gutter, :host .gutter {
	background-color: #0C1021;
	color: #F8F8F8;
}

atom-text-editor.is-focused .cursor,
:host.is-focused .cursor {
	border-color: rgba(255, 255, 255, 0.65);
}

atom-text-editor.is-focused .selection .region,
:host.is-focused .selection .region {
	background-color: #253B76;
}

atom-text-editor.is-focused .line-number.cursor-line-no-selection,
:host.is-focused .line-number.cursor-line-no-selection,
atom-text-editor.is-focused .line.cursor-line,
:host.is-focused .line.cursor-line {
	background-color: rgba(255, 255, 255, 0.06);
}

.comment {
	color: #AEAEAE;
}

.constant {
	color: #D8FA3C;
}

.entity {
	color: #FF6400;
}

.keyword {
	color: #FBDE2D;
}

.storage {
	color: #FBDE2D;
}

.string, .meta.verbatim {
	color: #61CE3C;
}

.support {
	color: #8DA6CE;
}

.variable {
}

.invalid.deprecated {
	font-style: italic;
	color: #AB2A1D;
}

.invalid.illegal {
	color: #F8F8F8;
	background-color: #9D1E15;
}

.entity.other.inherited-class {
	font-style: italic;
	color: #FF6400;
}

.string .constant.other.placeholder {
	color: #FF6400;
}

.meta.function-call.py {
	color: #BECDE6;
}

.meta.tag, .meta.tag .entity {
	color: #7F90AA;
}

.entity.name.section {
	color: #FFF;
}

.keyword.type.variant {
	color: #D5E0F3;
}

.source.ocaml .keyword.operator.symbol {
	color: #F8F8F8;
}

.source.ocaml .keyword.operator.symbol.infix {
	color: #8DA6CE;
}

.source.ocaml .keyword.operator.symbol.prefix {
	color: #8DA6CE;
}

.source.ocaml .keyword.operator.symbol.infix.floating-point {
	text-decoration: underline;
}

.source.ocaml .keyword.operator.symbol.prefix.floating-point {
	text-decoration: underline;
}

.source.ocaml .constant.numeric.floating-point {
	text-decoration: underline;
}

.text.tex.latex .meta.function.environment {
	background-color: rgba(255, 255, 255, 0.03);
}

.text.tex.latex .meta.function.environment .meta.function.environment {
	background-color: rgba(122, 150, 250, 0.03);
}

.text.tex.latex .support.function {
	color: #FBDE2D;
}

.source.plist .string.unquoted, .source.plist .keyword.operator {
	color: #FFF;
}
